.app-header {
	/*
	-webkit-app-region: drag;
	-webkit-user-select: none;
	*/

	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 49px;
	background: var(--main-brand-color);
}

.app-header_container {
	height: 100%;
	width: calc(100% - 16px);
	font-weight: 500;
	font-size: 12px;
	color: var(--alt-text-color);
	padding:0 1em 0 1em;
	display: flex;
	align-items: center;
	gap: 3px;
	/* line-height: 1.67; */

}

.app-header_socials-group {
	border-left: 1px solid #00000033;
	padding-left: 5px;
}

.app-header_flex_spacer {
	flex-grow: 1;
}

.app-header svg {
	height: 2.5em
}

.app-header_logo {
	padding: 2.5px
}

.app-header_search {
	transition: all 0.3s ease-in-out;
	right: 135px;
	position: absolute;
}

.app-header_socials-group {
	right:5px;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.app-header_search.active {
	position: absolute;
	right: 10px;
}

.app-header_socials-group.active {
	position: absolute;
	right: -150px;
	/* transition: position 0.3s ease-in-out; */
}

.app-header_search-bar {
	width: calc(100% - 105px);
}

.app-header_search-bar input {
	background: #1D1D1D80;
	border: none;
	border-radius: 2px;
	height: 30px;
	margin-left: 1em;
	color: var(--alt-text-color);
	padding-left: 1em;
	font-size: 1.2em;
	width: 100%;
}

.app-header_search-bar input::-webkit-input-placeholder {
	color: var(--alt-text-color);
	opacity: 0.5;
	font-size: 1.1em;
}

.app-header_search-bar input:focus-visible, .app-header_search-bar input:focus {
	outline: 1px solid white;
}
