body {
	margin: 0;
	font-family: 'Helvetica Neue', 'Arial',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--main-bg-color);
	color: var(--main-text-color)
}

::-webkit-scrollbar-track {
	background: #2E2E2E;
}

::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #9D9D9D;
}

svg {
	height: 1.4em;
	fill: var(--alt-text-color)
}
